body {
    color: white;
}

.instrumentsImg {
    background-color: white;
    border-radius: 20%;
    width: 60px;
    padding: 5px;
    margin-right: 5px;
    justify-content: space-between;

}

.userCard {
    border-radius: 3%;
    margin: 3%;
    padding: 2%;
    color: rgb(247, 243, 243);
    background-color: #7b0c1594;
    box-shadow: 3px 1px 10px 1px rgb(255, 255, 255);
}

.userAvatar {
    width: 30%;
    border: 5px white solid;
    border-radius: 10%;
}

.friendAvatar {
    background-color: white;
    border-radius: 20%;
    width: 100px;
    padding: 5px;
    margin-right: 5px;
}