.instrumentsImg {
    border: 1px solid;
    border-radius: 20%;
    width: 60px;
    padding: 5px;
    margin-right: 5px;

}

.userCard {
    border: 1px solid;
    padding: 2%;
    margin-top: 25px;

}

.row {
    margin-top: 300px;
}