.events {
    padding-bottom: 50px;
    color: white !important;
    background-color: #7b0c1594 !important;
    box-shadow: 3px 1px 10px 1px rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


}

.custom-card .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}