body {
    font-family: 'Montserrat', cursive !important;
    /* font-family: sans-serif; */
    font-weight: 100;
    background-image: url('./assets/images/20815-musica.jpg');
    background-position-x: 90px;
    background-position-y: 0px;
    background-size: cover;
    background-attachment: fixed
}

.card-body {
    color: black !important;
}